header{
  background-image: url("../images/bg_1.jpg");
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  height: 700px;
  // border: 1px solid red;

  .grid-container{
    #menu{
      #logo{
        background-image: url("../images/logo_1.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 70px;
      }
      .col-8{
        // background-color: green;
        height: 70px;
        color:white;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        nav{
          width: 100%;
          ul{
            width: 100%;
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
            list-style: none;
            li{
              font-size: 12px;
              font-weight: 550;
              text-transform: uppercase;
              letter-spacing: 3px;
              padding-left: 10px;
            }
          }
        }//nav
      }//.col-8
      #media{
        height: 70px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-end;
        i{
          padding-right: 15px;
          color:white;
        }
      }
    }//#menu
    #describtion{
      height: 630px;
      .col-2{
        // background-color: blue;
        height: auto;
      }
      .col-8{
        // border:1px solid blue;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        .intro_1{
          margin-top: 15%;
          letter-spacing: 2px;
          color:white;
          font-size: 70px;
          text-align: center;
        }
        .line{
          border-top: 1px solid white;
        }
        .intro_2{
          margin-top: 9%;
          letter-spacing: 2px;
          color:white;
          text-align: center;
          font-weight: 100;
        }
        .button_menu{
          margin-top: 10%;
          width: 150px;
          height: 30px;
          background-color: rgba(86,83,76,0.5);
          border: 1px dashed white;
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: center;
          p{
            color: white;
            letter-spacing: 2px;
            font-size: 700;
          }
        }
      }
    }


  }//.grid-container
}//header
